{% extends 'layouts/main.html' %}

{% block title%}
{{title}}
{% endblock %}

{% block css_assets %}

{% endblock %}


{% block content %}
<main x-init>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center my-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="border border-3 border-primary"></div>
                        <div class="card bg-white">
                            <div class="card-body p-5">
                                <form class="mb-3 mt-md-4" method="post" action="/web/reset_password">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <h2 class="fw-bold mb-2 text-uppercase ">Reset Password</h2>
                                    <p class=" mb-5">Please enter your registered email!</p>
                                    <div class="mb-3">
                                        <label for="login" class="form-label ">Email</label>
                                        <input type="text" class="form-control" id="login" name="login"
                                            placeholder="name@example.com" autocomplete="email" required autofocus>
                                    </div>
                                    {% if error %}
                                        <p class="alert alert-danger" role="alert">
                                            {{error}}
                                        </p>
                                    {% endif %}
                                    
                                    <div class="d-grid">
                                        <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                                    </div>
                                    <p class="small"><a class="text-primary" href="/web/login">Back to login</a></p>
                                </form>
                                <!-- <div>
                                    <p class="mb-0  text-center">Don't have an account? 
                                        <a href="signup.html" class="text-primary fw-bold">Sign Up</a>
                                    </p>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>



{% endblock %}